.box1{
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 0px;
}
.box11{
  background-color: #840505;
  padding: 5px;
  margin-bottom: 0px;
}
.box2{
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 0px;
}
.box22{
  background-color: #ffffff;
  padding: 0px;
  margin-bottom: 0px;
}
.box222{
  background-color: #ffffff;
  padding: 0px;
  margin-bottom: 0px;
}
.box3{
  background-color: #840505;
  padding: 1px;
  margin-bottom: 0px;
}
